@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #wrapper, #infortmation
{
    min-height: 100vh;
}

body
{
    min-width: 320px;
    font-family: 'Rubik', sans-serif;
}

#content
{
    margin: 0 auto;
    max-width: 1440px;
    padding: 50px;
}

header #content
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header #content p, header #content a
{
    font-weight: bold;
    color: #FFFFFF;
    position: relative;;
}

header #content a::after
{
    position: absolute;
    height: 2px;
    width: 100%;
    transform: scale(0);
    background-color: #FFFFFF;
    bottom: 0;
    content: "";
    left: 0;
    transition: 0.3s all;
}

header #content a:hover::after
{
    transform: scale(1);
}

header #content ul
{
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

header #content ul li a
{
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 15px;
}

#infortmation
{
    background-image: url("../img/header_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

#teacher-info
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#teacher-info #image
{
    margin-right: 50px;
    height: 300px;
    width: 300px;
    background-image: url("../img/avatar.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

#teacher-info #text-information
{
    display: flex;
    flex-flow: column nowrap;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 700px)
{
    #content
    {
        padding: 25px;
    }

    header #content p
    {
        margin-bottom: 25px;
    }

    header #content
    {
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }

    header #content ul li
    {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    header #content ul li a
    {
        margin: unset;
    }

    #teacher-info
    {
        flex-flow: column nowrap;
    }
    #teacher-info #image 
    {
        max-height: 150px;
        max-width: 150px;
        margin-right: unset;
        margin-bottom: 50px;
    }
}