*
{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

header
{
    background-color: #d0d0d0;
    width: 100%;
}

header a
{
    float: left;
    height: 100%;
}

header h1
{
    padding: 10px;
    font-size: 50px;

    text-align: center;
}

.function
{
    display: block;
    text-align: center;
    background-color: #d2b9b9; 
    text-decoration: none;

    border-bottom: 1px solid black;
    padding: 100px;
    font-size: 30px;
    transition: 1s;
}

a:hover
{
    transition: 1s;
    background-color: #db6c6c;
}