@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #wrapper
{
    height: 100vh;
    min-height: 100%;
}

body
{
    font-family: "Rubik", sans-serif;

    min-width: 320px;
}

#wrapper
{
    display: flex;

    flex-flow: column nowrap;
}

a
{
    text-decoration: none;

    color: #000000;
}

.content
{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;

    flex-grow: 1;
}

header
{
    display: flex;

    min-height: 550px;

    background-image: url("../img/background_2.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

header .content
{
    display: flex;

    flex-flow: column nowrap;
}

header .content .nav
{
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
}

header .content .nav .logo
{
    margin-bottom: 25px;

    transition: 0.3s all;
    text-transform: uppercase;
}

header .content .nav .logo:hover
{
    transform: scale(1.05);
}

header .content .nav a, footer .content a
{
    font-weight: bold;

    position: relative;

    text-decoration: none;

    color: #FFFFFF;;
}

header .content .nav a:not(.logo)::after, footer .content a::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: "";
    transition: 0.3s all;
    transform: scale(0);

    background-color: #FFFFFF;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

header .content .nav a:hover::after, footer .content a:hover::after
{
    transform: scale(1);
}

header .content .nav ul
{
    display: flex;

    list-style-type: none;

    flex-flow: row nowrap;
}

header .content .nav ul li a
{
    margin: 0 15px;
    padding: 5px 15px;

    text-align: center;
}

header .content .text
{
    display: flex;

    color: #FFFFFF;

    align-content: center;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-grow: 1;
    justify-content: center;
}

header .content .text h1
{
    font-size: 66px;
}

header .content .text p
{
    font-size: 26px;
}

header .content .nav ul li a, header .content .nav .logo, header .content .text h1, header .content .text p, footer .content a, footer .content p
{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

#block_one .content
{
    display: flex;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

#block_one .content ul
{
    margin-left: 35px;
}

#block_one .content h2
{
    font-size: 58px;

    margin-bottom: 25px;

    text-align: center;
}

#block_one .content ul li
{
    font-size: 28px;

    text-align: center;
}

#block_two
{
    background-image: url("../img/background_1.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

#block_two .content
{
    display: flex;

    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

#block_two .content .item
{
    width: 155px;
    margin: 1%;

    background-image: url("../img/temp_bumaga.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    flex-grow: 1;
}

#block_three .content
{
    display: flex;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}
#block_three .content h2
{
    font-size: 58px;

    margin-bottom: 25px;

    text-align: center;
}

#block_three .content .posts
{
    display: flex;

    align-self: center;
    flex-flow: row wrap;
    justify-content: center;
}

#post
{
    width: 80%;
    margin: 0 auto;

    border: 1px solid black;
}

#block_three .content .post
{
    display: flex;

    width: 300px;
    margin: 25px;
    padding: 25px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    flex-flow: column nowrap;

/* align-self: flex-start; */
    flex-grow: 1;
}

#block_three .content .post .post_title
{
    font-size: 18px;
    font-weight: bold;

    margin: 0 0 10px 0;

    text-align: center;
}

#block_three .content .post .post_text
{
    font-size: 16px;

    margin: 10px 0;

    flex-grow: 1;
}

#block_three .content .post .post_tag
{
    font-size: 14px;

    display: inline-block;

    margin: 10px 5px 0 0;
    padding: 3px 9px;

    text-align: center;

    border: 1px solid black;
}

#block_three .content .post hr
{
    opacity: 0.3;
}

#block_three .content a:not(.post_tag)
{
    font-size: 18px;

    margin-top: 45px;
    padding: 15px 45px;

    cursor: pointer;
    transition: 1s all;
    text-align: center;
    text-decoration: none;

    color: white;
    border: 0;
    border-radius: 15px;
    background: url("../img/background_1.jpg");
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#block_three .content a:hover
{
    transform: scale(1.05);

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer
{
    background-image: url("../img/background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer .content
{
    display: flex;

    padding: 15px 50px;

    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer .content a, footer .content p
{
    text-align: center;

    color: #FFFFFF;
}

footer .content p
{
    opacity: 0.4;
}

footer .content a
{
    position: relative;

    margin: 10px 15px 10px 15px;
    padding: 5px 15px;
}

@media screen and (max-width: 700px)
{
    .content
    {
        padding: 45px 25px;
    }

    header .content .nav p
    {
        margin-bottom: 25px;
    }

    header .content .nav
    {
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }

    header .content .nav ul li
    {
        display: flex;

        align-self: center;
        flex-grow: 1;
        justify-content: center;
    }
    header .content .nav ul li a
    {
        margin: unset;
    }
    header .content .text h1, header .content .text p
    {
        text-align: center;
    }
    header .content .text h1
    {
        font-size: 43px;
    }
    #block_one .content h2
    {
        font-size: 38px;
    }
    #block_one .content ul li
    {
        font-size: 23px;
    }

    #block_three .content
    {
        padding: 45px 15px;
    }
    #block_three .content .post
    {
        width: 100%;
        margin: 5px;
    }
}

@media screen and (max-width: 485px)
{
    footer .content
    {
        flex-flow: column nowrap;
    }
    footer .content p
    {
        margin-top: 15px;
    }
}
