@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

*
{
    font-family: "Rubik", sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#block_three
{
    flex-grow: 1;
}

#block_three .content .posts
{
    width: unset;

    flex-flow: column nowrap;
}

#block_three .content .post
{
    width: 800px;
}

@media screen and (max-width: 920px)
{
    #block_three .content .post
    {
        width: 100%;
        margin: 5px;
    }
}
