@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

*
{
    font-family: "Rubik", sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body
{
    min-height: 100vh;
}

html
{
    display: flex;

    width: 100%;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

body
{
    font-family: "Rubik", sans-serif;

    display: flex;

    padding: 50px 0;

    background-image: url("../img/background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

form
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

input, textarea
{
    font-size: 25px;

    padding: 5px;
}

input[type="input"], input[type="submit"], textarea
{
    font-size: 36px;

    width: 500px;
    min-width: 300px;
    height: 90px;
    min-height: 55px;
    margin: 15px;
    padding: 20px;

    transition: 0.3s all;
    text-align: center;

    color: white;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255,255,255,0.0);
}

textarea
{
    min-height: 150px;

    resize: vertical;
}

input[type="input"]:hover, textarea:hover
{
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type="submit"]
{
    cursor: pointer;

    border: 0;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type="submit"]:hover
{
    transform: scale(1.05);

    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a
{
    font-size: 40px;

    min-width: 300px;
    margin: 15px;
    padding: 25px 50px;

    cursor: pointer;
    transition: 0.3s all;
    text-align: center;
    text-decoration: none;

    color: white;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a:hover
{
    transform: scale(1.05);

    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 485px)
{
    input[type="input"], input[type="submit"], textarea, a
    {
        font-size: 28px;

        width: 90%;
        min-height: 70px;
    }
    form
    {
        width: 100%;
    }
}
